<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIbTL144FYzxncvxJ6Mr18mA_AHxjcOyU</string>
	<key>GCM_SENDER_ID</key>
	<string>789604110114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sami23ibrahim.MyAfbpp</string>
	<key>PROJECT_ID</key>
	<string>fir-test-ddf72</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-ddf72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789604110114:ios:9ee10fc64a6749712f9f7b</string>
</dict>
</plist>